.dividernav{
    height: 0.6px;
    background-color: rgba(95, 95, 95, 0.327);
}
body{
    background-color: black !important;
  }


.hero_section_bg{
      background-image: url('./image/Hedo.png');

background-position-x: center;
 background-repeat: no-repeat;

} 

.back_of_herom{
    background-image: url('./image/MobileHero.svg');
    background-position-x: center;
 background-repeat: no-repeat;
}

.centeritall{
    justify-content: center;
    align-items: center !important;
    display: flex !important;
}


.users_card{
    -webkit-backdr--op-filter: blur(43px) brightness(100%);
    backdrop-filter: blur(43px) brightness(100%);
    border-radius: 24px;
    border: 2px solid #474747;
    background: var(--BG---01, #0A0A0A) !important;
    backdrop-filter: blur(21.5px);
    border: 2px solid;
    border-color: transparent;
    border-radius: 24px;
    height: 427px;
    position: relative;
    width: 472px;
}


.left_footer_side{
    align-items: start;
    justify-content: start;
    display: flex;
    text-align: start;
    position: relative;
    left: 10px;
}

.right_footer_side{
    align-items: end;
    justify-content: end;
    display: flex;
    text-align: end;
    position: relative;
    right:  10px;
}


.center_footer_side{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    position: relative;

}

.label {
    height: 24px;
    width: 64px;
    text-decoration:  none !important;
   }
   .label .text-wrapper {
    color: var(--typography-colortext-02);
    font-family: "Mabry Pro-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
text-decoration:  none !important;
    text-align: center;
    top: 0;
    white-space: nowrap;
   }



   .labels {
    height: 24px;
    width: 391px;
   }
   .labels .text-wrappers {
    color: #4c4c4c;
    font-family: "Mabry Pro-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;

    text-align: center;
    top: 0;
    white-space: nowrap;
   }


   .h_testnet{
    
        color: #fff;
        font-family: "Syne-Bold", Helvetica;
        font-size: 40px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0;
        line-height: 48px;
   
        text-align: center;
        top: 0;
        white-space: nowrap;
      
   }



   .testnet_section{
    background-image: url('./image/testnet_section.svg');
height: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
} 


















   .labelp .flexcontainerp {
    align-items: center;
    text-align: center;
    justify-content: center;


 
  
   }
   .labelp .textp {
    align-self: stretch;
    color: #bfbfbf;
    font-family: "Mabry Pro-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    text-align: center;
   }
   .labelp .text-wrapperp {
    color: #bfbfbf;
    font-family: "Mabry Pro-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
   }




   .header-btn {
    align-items: center;
    background: linear-gradient(180deg, rgb(235, 254, 100) 0%, rgb(140, 234, 105) 100%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    padding: 16px 40px;
    position: relative;
   }
   .header-btn .participate-in {
    color: var(--typography-colortext-07);
    font-family: "Mabry Pro-Bold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
   }


   .back_of_field {
    background-color: rgba(110, 114, 107, 0.69) !important; /* Adjust the color and opacity as desired */
    border-radius: 5px !important;
    color: #ffffff !important;
 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2) !important; /* Adding a subtle white shadow for the glassy effect */
    -webkit-backdrop-filter: blur(30px) brightness(100%) !important;
    backdrop-filter: blur(30px) brightness(100%) !important;
    background: linear-gradient(180deg, rgba(235, 254, 100, 0.03) 0%, rgba(140, 234, 105, 0.03) 100%) !important;
    border: 1px solid !important;
  
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) 1 !important;
    border-radius: 16px 16px 0px 0px !important;
}




   .labeltop .htop {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(206.13, 206.13, 206.13) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Syne-Bold", Helvetica;
    font-size: 96px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 104px;

    text-align: center;

    top: 0;

   }
   .labeltop .htopm {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(206.13, 206.13, 206.13) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Syne-Bold", Helvetica;
    font-size: 46px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 74px;

    text-align: center;

    top: 0;

   }
   .subtext {
    color: var(--typography-colortext-02);
    font-family: "Mabry Pro-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 28px;
    text-align: center;
    top: 0;
    
   }
   .subtextmm {
    color: var(--typography-colortext-02);
    font-family: "Mabry Pro-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;

    
   }

   img {
    user-select: none;
  }
  



  
  .h_testnet_mobile {
    
    color: #fff;
    font-family: "Syne-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 48px;

    text-align: center;
 
  
}



img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateX(-5px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateX(-10px); }
}

.frame-6 .vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.frame-6 .vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateX(-5px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateX(-10px); }
}


.zzz{
    z-index: -100 !important;
}